html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    position: sticky;
    max-height: 60px;
    background-color: #131921;
    text-transform: uppercase;
    text-align: center;
}   

.task {
    min-height: 60px;
    margin: 0 auto;
}

.main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    justify-items: center;
}


.main-menu li a {
    color: #f8f8f8;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 30px;
    width: 339.5px;
    transition: .5s;
}

.main-menu li a:hover {
    box-shadow: 0 0 17px 2px white;
}

.title {
    text-align: center;
    font-size: 32px;
}

#vinfast {
    position: relative;
    max-width: 100vw;
    min-height: 300px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.box-vinfast { 
    position: absolute;
    border: 2px solid #f8f8f8;
    background-color: #131921;
    width: 90vw;
    height: 400px;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 10px;
    display: inline-flex;
    justify-content: space-between;
}

.box-vinfast-inside1 {
    position: inherit;
    width: 300px;
    height: 340px;
    margin: 30px 40px;
    border: 2px solid #f8f8f8;
    background-color: grey;
    display: block;
    justify-items: center;
    transition: .25s;
}

.box-vinfast-inside2 {
    position: inherit;
    width: 300px;
    height: 340px;
    margin: 30px 40px;
    border: 2px solid #f8f8f8;
    background-color: grey;
    display: block;
    left: 39%;
    transition: .25s;
}

.box-vinfast-inside3 {
    position: inherit;
    width: 300px;
    height: 340px;
    margin: 30px 40px;
    border: 2px solid #f8f8f8;
    background-color: grey;
    display: block;
    right: 5px;
    transition: .25s;
}

#lexus {
    position: relative;
    max-width: 100vw;
    min-height: 300px;
    margin-top: 200px;
    margin-bottom: 30px;
}

.box-lexus { 
    position: absolute;
    border: 2px solid #f8f8f8;
    background-color: #131921;
    width: 90vw;
    height: 400px;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 10px;
    display: inline-flex;
}

.box-lexus-inside1 {
    position: inherit;
    width: 300px;
    height: 340px;
    margin: 30px 40px;
    border: 2px solid #f8f8f8;
    background-color: grey;
    display: block;
    transition: .25s;
}

.box-lexus-inside2 {
    position: inherit;
    width: 300px;
    height: 340px;
    margin: 30px 40px;
    border: 2px solid #f8f8f8;
    background-color: grey;
    display: block;
    left: 39%;
    transition: .25s;
}

.box-lexus-inside3 {
    position: inherit;
    width: 300px;
    height: 340px;
    margin: 30px 40px;
    border: 2px solid #f8f8f8;
    background-color: grey;
    display: block;
    right: 5px;
    transition: .25s;
}

#mercedes {
    position: relative;
    max-width: 100vw;
    min-height: 300px;
    margin-top: 200px;
    margin-bottom: 30px;
}

.box-mercedes { 
    position: absolute;
    border: 2px solid #f8f8f8;
    background-color: #131921;
    width: 90vw;
    height: 400px;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 10px;
    display: inline-flex;
}

.box-mercedes-inside1 {
    position: inherit;
    width: 300px;
    height: 340px;
    margin: 30px 40px;
    border: 2px solid #f8f8f8;
    background-color: grey;
    display: block;
    transition: .25s;
}

.box-mercedes-inside2 {
    position: inherit;
    width: 300px;
    height: 340px;
    margin: 30px 40px;
    border: 2px solid #f8f8f8;
    background-color: grey;
    display: block;
    left: 39%;
    transition: .25s;
}

.box-mercedes-inside3 {
    position: inherit;
    width: 300px;
    height: 340px;
    margin: 30px 40px;
    border: 2px solid #f8f8f8;
    background-color: grey;
    display: block;
    right: 5px;
    transition: .25s;
}

#tesla {
    position: relative;
    max-width: 100vw;
    min-height: 300px;
    margin-top: 200px;
    margin-bottom: 30px;
}

.box-tesla { 
    position: absolute;
    border: 2px solid #f8f8f8;
    background-color: #131921;
    width: 90vw;
    height: 400px;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 10px;
    display: inline-flex;
    margin-bottom: 40px;
}

.box-tesla-inside1 {
    position: inherit;
    width: 300px;
    height: 340px;
    margin: 30px 40px;
    border: 2px solid #f8f8f8;
    background-color: grey;
    display: block;
    transition: .25s;
}

.box-tesla-inside2 {
    position: inherit;
    width: 300px;
    height: 340px;
    margin: 30px 40px;
    border: 2px solid #f8f8f8;
    background-color: grey;
    display: block;
    left: 39%;
    transition: .25s;
}

.box-tesla-inside3 {
    position: inherit;
    width: 300px;
    height: 340px;
    margin: 30px 40px;
    border: 2px solid #f8f8f8;
    background-color: grey;
    display: block;
    right: 5px;
    transition: .25s;
}
/* inside1 */
.box-lexus-inside1:hover {
    box-shadow: 0 0 17px 2px red;
}

.box-vinfast-inside1:hover {
    box-shadow: 0 0 17px 2px red;
}

.box-tesla-inside1:hover {
    box-shadow: 0 0 17px 2px red;
}

.box-mercedes-inside1:hover {
    box-shadow: 0 0 17px 2px red;
}
/* inside2 */
.box-lexus-inside2:hover {
    box-shadow: 0 0 17px 2px red;
}

.box-vinfast-inside2:hover {
    box-shadow: 0 0 17px 2px red;
}

.box-tesla-inside2:hover {
    box-shadow: 0 0 17px 2px red;
}

.box-mercedes-inside2:hover {
    box-shadow: 0 0 17px 2px red;
}
/* inside3 */
.box-lexus-inside3:hover {
    box-shadow: 0 0 17px 2px red;
}

.box-vinfast-inside3:hover {
    box-shadow: 0 0 17px 2px red;
}

.box-tesla-inside3:hover {
    box-shadow: 0 0 17px 2px red;
}

.box-mercedes-inside3:hover {
    box-shadow: 0 0 17px 2px red;
}

#btt {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 30px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-color: black;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    justify-items: center;
}
  
#btt:hover {
    background-color: whitesmoke; 
}

#mer-img {
    width: 50px;
    height: 50px;
    padding: auto;
}

#tesla-img {
    width: 50px;
    height: 50px;
    padding: auto;
}

#lexus-img {
    width: 50px;
    height: 50px;
    padding: auto;
}

#vinfast-img {
    width: 50px;
    height: 50px;
    padding: auto;
}

.VF8 {
    width: 250px;
    height: 290px;
    padding: 25px 25px;
    text-align: center;
}

#vf8 {
    width: 250px;
    min-height: 250px;
    border: 2px solid #f8f8f8;
}

.prd-name {
    display: inline-block;
    font-size: 28px;
    margin-left: 30px;
    color: #f8f8f8;
    text-decoration: none;
}

.Lux {
    width: 250px;
    height: 290px;
    padding: 25px 25px;
    text-align: center;
}

#lux {
    width: 250px;
    min-height: 250px;
    border: 2px solid #f8f8f8;
}

.VF9 {
    width: 250px;
    height: 290px;
    padding: 25px 25px;
    text-align: center;
}

#vf9 {
    width: 250px;
    min-height: 250px;
    border: 2px solid #f8f8f8;
}

.LX600 {
    width: 250px;
    height: 290px;
    padding: 25px 25px;
    text-align: center;
}

#lx600 {
    width: 250px;
    min-height: 250px;
    border: 2px solid #f8f8f8;
}

.RX350 {
    width: 250px;
    height: 290px;
    padding: 25px 25px;
    text-align: center;
}

#rx350 {
    width: 250px;
    min-height: 250px;
    border: 2px solid #f8f8f8;
}

.GX460 {
    width: 250px;
    height: 290px;
    padding: 25px 25px;
    text-align: center;
}

#gx460 {
    width: 250px;
    min-height: 250px;
    border: 2px solid #f8f8f8;
}

.GLC {
    width: 250px;
    height: 290px;
    padding: 25px 25px;
    text-align: center;
}

#glc {
    width: 250px;
    min-height: 250px;
    border: 2px solid #f8f8f8;
}

.G63 {
    width: 250px;
    height: 290px;
    padding: 25px 25px;
    text-align: center;
}

#g63 {
    width: 250px;
    min-height: 250px;
    border: 2px solid #f8f8f8;
}

.GT63 {
    width: 250px;
    height: 290px;
    padding: 25px 25px;
    text-align: center;
}

#gt63 {
    width: 250px;
    height: 250px;
    border: 2px solid #f8f8f8;
}

.MS {
    width: 250px;
    height: 290px;
    padding: 25px 25px;
    text-align: center;
}

#ms {
    width: 250px;
    height: 250px;
    border: 2px solid #f8f8f8;
}

.M3 {
    width: 250px;
    height: 290px;
    padding: 25px 25px;
    text-align: center;
}

#m3 {
    width: 250px;
    height: 250px;
    border: 2px solid #f8f8f8;
}

.MX {
    width: 250px;
    height: 290px;
    padding: 25px 25px;
    text-align: center;
}

#mx {
    width: 250px;
    height: 250px;
    border: 2px solid #f8f8f8;
}

@media (max-width: 1440px) {
    *{
        width: 100%;
    }
    .box-lexus-inside2 {
        left: 35%;
    }

    .box-vinfast-inside2 {
        left: 35%;
    }

    .box-mercedes-inside2 {
        left: 35%;
    }

    .box-tesla-inside2 {
        left: 35%;
    }
}






